*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#050505;

color:white;

font-family:'Space Grotesk',sans-serif;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.hero{

text-align:center;

}

.project{

letter-spacing:8px;

color:#6C63FF;

font-size:14px;

margin-bottom:20px;

}

h1{

font-size:80px;

font-weight:700;

background:linear-gradient(90deg,#ffffff,#7C3AED,#22D3EE);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

margin-bottom:20px;

}

.subtitle{

color:#B5B5B5;

font-size:18px;

margin-bottom:40px;

}

a{

text-decoration:none;

padding:16px 40px;

border:1px solid #7C3AED;

border-radius:40px;

color:white;

transition:.3s;

}

a:hover{

background:#7C3AED;

box-shadow:0 0 20px #7C3AED;

}
/* ===========================
   LOADING SCREEN
=========================== */

#loader{
    position:fixed;
    inset:0;
    background:#050505;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    transition:opacity .7s ease;
}

.loader-content{
    text-align:center;
}

.loader-title{
    font-family:'JetBrains Mono', monospace;
    color:#7C3AED;
    letter-spacing:8px;
    font-size:14px;
    margin-bottom:25px;
}

#loading-text{
    font-size:18px;
    color:#d5d5d5;
    font-family:'JetBrains Mono', monospace;
}
